@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body{
    background-image: url('../img/imagemFundo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 1.5rem;
}

.hide{
    display: none;
}

button{
    min-width: 30px;
    min-height: 25px;
    background-color: #FDFDFD;
    color: #102F5e;
    border: 2px solid #102F5e;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover{
    background-color: #102F5e;
    color: #FFF;
}

button:hover>i{
    color: #FFF;
}


button i{
    color:#102F5e;
    font-weight: bold;
    pointer-events: none;
}

input, select{
    padding: 2px 5px;
}

/* main */
.todo-container{
    max-width: 450px;
    margin:3rem auto;
    background-color: #FDFDFDBB;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.todo-container h1{
    text-align: center;
    font-size: 2rem;
    padding: 0 1rem 1rem;
    border-bottom: 2px solid #102F5e;
}

/* Formulario */
#todo-form, #edit-form{
    padding: 1rem;
    border-bottom: 1px solid #102F5e;
}

#todo-form p, #edit-form p{
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.form-control{
    display: flex;
}
.form-control input{
    width: 100%;
    margin-right: 0.5rem;
}
#cancel-edit-btn{
    margin-top: 0.5rem;
    padding: 5px;
    border-radius: 5px;
}

/*Toolbar*/
#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #102F5e;
    display: flex;
    justify-content: space-between;
}
#toolbar h4{
    margin-bottom: .5rem;
}

#search{
    border-right: 1px solid #102F5e;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form{
    display: flex;
}
#search input{
    width: 100%;
    margin-right: 0.3rem;
}

#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}
/* todo list */
.todo-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #102F5e;
    transition: 0.3s;
}
.todo-item h3{
    flex: 1;
    font-size: 0.9rem;
}
.todo-item button{
    margin-left: 0.4rem;
}

.done{
    background-color: #395167BB;
}
.done h3{
    color: #FFF;
    text-decoration: line-through;
    font-style: italic;
}